@page "/"

@using Shared
@inject HttpClient Http

<h1>Hello, world!</h1>
<button @onclick="GetQuestionSets">Get all question sets</button>

@foreach(var flashCardSet in _flashCardSets)
{
    <div>
        <h2>@flashCardSet.Title</h2>
        <p>@flashCardSet.Description</p>
        @foreach(var flashCard in flashCardSet.FlashCards)
        {
            <div>
                <h3>@flashCard.Question</h3>
                <p>@flashCard.Answer</p>
                <p>@flashCard.CorrectnessScore</p>
            </div>
        }
    </div>
}

@code {
    private List<FlashCardSet> _flashCardSets = new List<FlashCardSet>();

    private async Task GetQuestionSets()
    {
        // TODO: Add error handling
        _flashCardSets = await Http.GetFromJsonAsync<List<FlashCardSet>>("/api/FlashCardSets") ?? new List<FlashCardSet>();
    }

}